nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-lins a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ddd;
}

.nav-links a.active {
    color: #ff6b6b;
    font-weight: bold;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 1rem;
    }

    .nav-links {
        margin-top: 1rem;
        flex-direction: column;
        text-align: center;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }
}